<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.friedgoldenflower.infra.mapper.HourseMapper">
    <sql id="queryFields">
        id,email,code,create_time
    </sql>
    <sql id="insertFields">
        last_name,email,gender,d_id,birth,username,password
    </sql>

    <insert id="createHourse" parameterType="RegisterCode">
        insert into register_code(email,code,create_time) values(#{email},#{code},#{createTime})
    </insert>

</mapper>