<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.friedgoldenflower.infra.mapper.HourseMapper">
    <sql id="queryFields">
        id,email,code,create_time
    </sql>
    <sql id="insertFields">
        hourse_name,hourse_code,create_time,create_user,hourse_user
    </sql>

    <insert id="createHourse" parameterType="Hourse" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into hourse(<include refid="insertFields"></include>) values(#{hourseName},#{hourseCode},#{createTime},#{createUser},#{hourseUser})
    </insert>

</mapper>